@import "../../styles/variables";
.button-container {
  background-color: $blue-200;
  border-radius: 7px;
  padding: 11px;
  outline: none;
  color: $white;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in;
  font-size: 0.95rem;
  &:hover {
    background-color: $blue-300;
    transition: background 0.2s ease-in;
  }
}
