// COLORS
$white: white;
$blue-100: #008cd8;
$blue-200: #0087cf;
$blue-300: #0077b6;
$gray-100: #dddddd;
$gray-200: #bebebe;
$gray-300: #b8b8b8;
$gray-600: #8c8c8c;

// MEASURES
$mobile-600: 600px;
$mobile-380: 380px;
