@import "../../styles/variables";

.modal-container {
  position: fixed;
  z-index: 1111;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.281);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  &__content {
    background-color: $white;
    border-radius: 6px;
    padding: 0px 20px 30px 20px;
    width: 50%;
    max-width: 650px;

    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);

    animation: zoomIn;
    animation-duration: 0.2s;

    @media screen and (max-width: $mobile-600) {
      width: 80%;
    }

    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--close-button {
      cursor: pointer;
      margin-top: 10px;
    }

    &--body {
      display: flex;
      flex-direction: column;
      padding: 0px 20px;

      p {
        text-align: justify;
        margin-bottom: 40px;
      }
    }

    &--rows {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--buttons {
      margin-top: 30px;
    }

    &--inputs {
      width: 48%;
    }

    &--main {
      margin-right: 10px !important;
    }
  }

  &__closing {
    animation: zoomOut;
    animation-duration: 0.5s;
  }
}
