@import "../../styles/variables";
@import "../../styles/common";

#map {
  @include full-screen;
}

.map-container {
  @include full-screen;
  &__draw {
    position: absolute;
    top: calc(50% - 100px);
    right: 5px;
    z-index: 1059;
    background-color: $white;
    border-radius: 6px;
    padding: 10px;
  }

  &__button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    outline: none;
    color: $blue-300;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    transition: background 0.2s ease-in;
    &:hover {
      background-color: $blue-100;
      transition: background 0.2s ease-out;
    }
  }
}

.leaflet-left {
  left: 95vw;
}

.leaflet-top {
  top: 90vh;
  @media screen and (max-width: $mobile-600) {
    display: none;
  }
}
